{% import "r3ply.html" as r3ply %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% endblock head %}
</head>
<body>
  {% set comments = [] %}
  {% for term in terms %}
  {% set_global comments = comments | concat(with=term.pages) %}
  {% endfor %}
  {% set comments = comments | unique(attribute="slug") %}
  {{ r3ply::render_comments_sorted_by_activity(comments=comments) }}
</body>
</html>